<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://116.228.101.34:667/app/FengXianHeZhaProgect.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>title</key>
                <string>奉贤河道水闸</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>bundle-identifier</key>
                <string>www.wavenet.com.FengXianHeZhaProgect</string>
            </dict>
        </dict>
    </array>
</array>
</plist>
